/* 1 column cho san pham trang chinh EDIT PRODUCT */
@media (min-width: 100px) {
.elementor-element.elementor-products-grid ul.products {
    grid-template-columns: repeat(1,1fr);
}
}
@media (min-width: 600px) {
.elementor-element.elementor-products-grid ul.products {
    grid-template-columns: repeat(2,1fr);
}
}

/* grid list can filter for produce page */
body[data-elementor-device-mode="mobile"] .grid-col-mobile-3>.jet-listing-grid__item {
    max-width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 50%;
}

/* HEADER Default */
.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 0px;
}
.ast-logo-title-inline .ast-site-identity {
    padding: 0em 0;
}
.ast-logo-title-inline .ast-site-identity {
    padding: 0em 0;
}
.ast-mobile-header-wrap .ast-primary-header-bar, .ast-primary-header-bar .site-primary-header-wrap {
    min-height: 50;
}
/* home page product */
.amount::before {
    content: "Giá từ: ";
}
.amount {
    font-weight: 500;
}
.woocommerce-loop-product__title {
    font-weight: 700;
}
